@model ASPProject.Models.UserRouteJunction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserRouteJunction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Route.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserRouteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
