@model ASPProject.Models.Service

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.NextPickup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextPickup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceId }) |
    @Html.ActionLink("Back to Home", "Index")
</p>
