@model IEnumerable<ASPProject.Models.Service>

@{
    ViewBag.Title = "Index";
}

<h2>Current Customers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Customer Name</p>
            @*@Html.DisplayNameFor(model => model.AspNetUsers.FirstName)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LastPickup)
        </th>*@
        <th>
            <p>Pick Up Date</p>
            @*@Html.DisplayNameFor(model => model.NextPickup)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PickupDay)
        </th>*@
        <th>
            <p>Current Balance</p>
            @*@Html.DisplayNameFor(model => model.Balance)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BillingFrequency)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.FirstName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LastPickup)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.NextPickup)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PickupDay)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.BillingFrequency)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceId })
        </td>
    </tr>
}

</table>
